.background {
  background-color: red;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.mainHeading {
  color: rgb(255, 255, 255);
  font-family: cursive;
  font-size: calc(1vw + 1vh);
}

.calendarGrid {
  display: grid;
  width: 50vw;
  height: 50vh;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(4, 1fr);
  background-image: url(Kuvat/ai-generated-8438100_1920.jpg);
  background-size: cover;
  background-position: center;
  outline-width: 1px;
}

.calendarGrid div {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(0, 0, 0);
  background-image: url(Kuvat/lahja.jpg);
  background-size: cover;
  outline-style: solid;
  outline-width: 1px;
  font-size: calc(2vw + 2vh);
  cursor: pointer;
}

.calendarGrid div:hover {
  filter: brightness(1.2);
  /* kirkastaa kuvaa */
  transform: scale(1.05);
  /* suurentaa hieman */
  transition: 0.2s;
  /* tekee muutoksesta pehmeän */
}


@keyframes shake {
  0% {
    transform: translate(0px, 0px);
  }

  25% {
    transform: translate(5px, 0px);
  }

  50% {
    transform: translate(-5px, 0px);
  }

  75% {
    transform: translate(5px, 0px);
  }

  100% {
    transform: translate(0px, 0px);
  }
}

.shake {
  animation: shake 0.5s;
}