.background{
  background-color: red;
}
.mainHeading{
    color: rgb(255, 255, 255);
    font-family:cursive;
    font-size:30px;
    text-align: center;
}
.calendarGrid {
  display: grid;
  grid-template-columns: repeat(6, 150px);
  grid-template-rows: repeat(4, 100px);
  justify-content:center;
}
.calendarGrid div{
  text-align: center;
  color: rgb(0, 0, 0);
  background-image: url(Kuvat/lahja.jpg);
  outline-style: solid;
  font-size: 48px;
  cursor: pointer;
}