.background {
  background-color: red;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #b30000;
  background-image:
    radial-gradient(#990000 2px, transparent 2px),
    radial-gradient(#990000 2px, transparent 2px);
  background-size: 20px 20px;
  background-position: 0 0, 10px 10px;
}

.koriste {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  pointer-events: none;
  /* Estää klikkaamisen */
}

.koriste.vasen {
  left: 5%;
}

.koriste.oikea {
  right: 5%;
  transform: translateY(-50%) scaleX(-1);
  /* Heijastus */
}

.koriste img {
  width: 300px;
  height: auto;
  max-height: 90vh;
  opacity: 0.8;
}

.mainHeading {
  color: rgb(255, 255, 255);
  font-family: cursive;
  font-size: calc(1vw + 1vh);
}

.calendarGrid {
  position: relative;
  z-index: 2;
  display: grid;
  width: 50vw;
  height: 50vh;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(4, 1fr);
  background-image: url(Kuvat/Grid-taustakuva.jpg);
  background-size: cover;
  background-position: center;
  outline-width: 1px;
}

.calendarGrid div {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(0, 0, 0);
  background-image: url(Kuvat/lahja.jpg);
  background-size: cover;
  outline-style: solid;
  outline-width: 1px;
  font-size: calc(2vw + 2vh);
  color:white;
  font-weight: bold;
  -webkit-text-stroke: 2px black;
  cursor: pointer;
}

.calendarGrid div:hover {
  filter: brightness(1.2);
  /* kirkastaa kuvaa */
  transform: scale(1.05);
  /* suurentaa hieman */
  transition: 0.2s;
  /* tekee muutoksesta pehmeän */
}

@keyframes shake {
  0% {
    transform: translate(0px, 0px);
  }

  25% {
    transform: translate(5px, 0px);
  }

  50% {
    transform: translate(-5px, 0px);
  }

  75% {
    transform: translate(5px, 0px);
  }

  100% {
    transform: translate(0px, 0px);
  }
}
