.background{
  background-color: red;
  display:flex;
  flex-direction: column;
  align-items: center;
  
}
.mainHeading{
    color: rgb(255, 255, 255);
    font-family:cursive;
    font-size: calc(1vw + 1vh);
}
.calendarGrid {
  display: grid;
  width: 50vw;
  height: 50vh;
  grid-template-columns: repeat(6, 1fr);
  grid-auto-rows: 1fr;
  background-image: url(Kuvat/ai-generated-8438100_1920.jpg);
  background-size: cover;
  outline-width: 1px;
}
.calendarGrid div{
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(0, 0, 0);
  background-image: url(Kuvat/lahja.jpg);
  background-size: cover;
  outline-style: solid;
  outline-width: 1px;
  font-size: calc(2vw + 2vh);
  cursor: pointer;
}